<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Root menu -->
        <menuitem id="menu_micro_finance_root" name="Micro Credit" sequence="0"/>

        <!-- Account Menu -->
        <menuitem id="menu_account_category_categ" name="Account" parent="menu_micro_finance_root" sequence="1"/>
        <menuitem id="menu_account_partner_credit" name="Account" parent="menu_account_category_categ" action="credit_account_action" sequence="1"/>
        <menuitem id="menu_account__credit_loan" name="Loan" parent="menu_account_category_categ" action="account_credit_loan_action" sequence="2"/>
        <menuitem id="menu_credit_balance_move" name="Balance Moves" parent="menu_account_category_categ" action="credit_balance_move_action" sequence="20"/>

        <!-- configuration Menu s -->
        <menuitem id="menu_configuration_categ" name="Configuration" parent="menu_micro_finance_root" sequence="10"/>
        <menuitem id="territory_configuration_menu" name="Territory" parent="menu_configuration_categ" action="res_territory_action" sequence="1"/>
        <menuitem id="entry_configuration_menu" name="Entry Type" parent="menu_configuration_categ" action="credit_entry_type_action" sequence="2"/>
        <menuitem id="loan_duration_configuration_menu" name="Loan Duration Type" parent="menu_configuration_categ" action="duration_type_action" sequence="3"/>
        <menuitem id="collection_duration_configuration_menu" name="Collection Duration Type" parent="menu_configuration_categ" action="collection_duration_action" sequence="4"/>
        <menuitem id="account_type_configuration_menu" name="Account Type" parent="menu_configuration_categ" action="account_type_action" sequence="5"/>
        <menuitem id="installment_configuration_menu" name="Installment" parent="menu_configuration_categ" action="installment_configuration_action" sequence="6"/>



    </data>
</odoo>